# Python Fundamentals part 1

## Input and output

In [3]:
print("Hello")

Hello

In [7]:
fruit = input()

print(fruit)

banana

In [8]:
print(f"I like {fruit}")

I like banana

## Data types

In [9]:
name = "Thorbjörn"
name

'Thorbjörn'

In [10]:
type(name)

str

In [19]:
age = 47.9 # double or float
nbr_of_kids = 4 # int
loves_beer = True # bool

name,age,nbr_of_kids,loves_beer

('Thorbjörn', 47.9, 4, True)

## f-strings

In [ ]:
print(f"type(name): {type(name)}")
print(f"type(age): {type(age)}")
print(f"type(nbr_of_kids): {type(nbr_of_kids)}")
print(f"type(loves_beer): {type(loves_beer)}")

# Shift+Alt+Down
# Copy the line and place it below

type(name): <class 'str'>
type(age): <class 'float'>
type(nbr_of_kids): <class 'int'>
type(loves_beer): <class 'bool'>

## Colletion types

## List

In [25]:
interests = ["beer","Liverpool","films","series"]
interests

['beer', 'Liverpool', 'films', 'series']

In [35]:
person = ["Thorbjörn",47.9,1,True]
person

['Thorbjörn', 47.9, 1, True]

In [36]:
person.append(interests)

In [37]:
person.append(100)
person

['Thorbjörn', 47.9, 1, True, ['beer', 'Liverpool', 'films', 'series'], 100]

**Accessing items in a list**

In [39]:
person[0], person[1], person[-1], person[-2]

('Thorbjörn', 47.9, 100, ['beer', 'Liverpool', 'films', 'series'])

In [40]:
person[-2][1]

'Liverpool'

**slicing list**

In [41]:
person[:2]

['Thorbjörn', 47.9]

In [43]:
person[0::2]

['Thorbjörn', 1, ['beer', 'Liverpool', 'films', 'series']]

In [45]:
interests, interests[::-1]

(['beer', 'Liverpool', 'films', 'series'],
 ['series', 'films', 'Liverpool', 'beer'])

**iterate over list**

In [47]:
numbers=[]
for i in range(10):
    numbers.append(i)

numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
numbers = [i for i in range(10)]
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
squares = [i**2 for i in numbers]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [52]:
for square in squares:
    print(square)

0
1
4
9
16
25
36
49
64
81

## Dictionary

- key: value

In [53]:
person_dict_syntax = dict(name="Thorbjörn",age=47.9)
person_dict_syntax

{'name': 'Thorbjörn', 'age': 47.9}

In [56]:
person_dict_bracket_syntax = {'name': 'Thorbjörn', 'age': 47.9}
person_dict_bracket_syntax.keys(), person_dict_syntax.keys()

(dict_keys(['name', 'age']), dict_keys(['name', 'age']))

In [58]:
person_dict_syntax["name"],person_dict_bracket_syntax["age"]

('Thorbjörn', 47.9)

In [60]:
hex(id(person_dict_bracket_syntax)), hex(id(person_dict_syntax))

('0x10e1c3f40', '0x10dee49c0')

In [62]:
for key in person_dict_syntax:
    print(key, person_dict_bracket_syntax[key])

name Thorbjörn
age 47.9

In [63]:
for key, value in person_dict_syntax.items():
    print(key,value)

name Thorbjörn
age 47.9

**dictionary comprehension**

In [67]:
ml_terms = [
    "Supervised Learning",
    "Unsupervised Learning",
    "Feature Engineering",
    "Overfitting",
    "Cross-Validation"
]


ml_explanations = [
    "Learns from labeled data.",
    "Finds patterns in unlabeled data.",
    "Enhances input features for models.",
    "Model fits training data too closely.",
    "Evaluates model performance robustly."
]

{term.lower(): explanation.lower() for term, explanation in zip(ml_terms,ml_explanations)}

{'supervised learning': 'learns from labeled data.',
 'unsupervised learning': 'finds patterns in unlabeled data.',
 'feature engineering': 'enhances input features for models.',
 'overfitting': 'model fits training data too closely.',
 'cross-validation': 'evaluates model performance robustly.'}

## Strings

In [68]:
ml_term = "sUperVised   Learning  "
ml_term

'sUperVised   Learning  '

In [69]:
len(ml_term)

23

In [70]:
ml_term.strip()

'sUperVised   Learning'

In [71]:
ml_term.split()

['sUperVised', 'Learning']

In [74]:
ml_term_cleaned = " ".join(ml_term.split()).lower()
ml_term_cleaned

'supervised learning'

In [76]:
ml_term_cleaned[0], ml_term_cleaned[-1], ml_term_cleaned[4:7]

('s', 'g', 'rvi')

In [79]:
"hello" + "world", "hello" + " world"

('helloworld', 'hello world')

In [80]:
5+5, "5"+"5"

(10, '55')

In [81]:
"5" + 5

TypeError: can only concatenate str (not "int") to str

In [82]:
"5"*5

'55555'

## if-statement

In [84]:
predictet_probalbility = 0.8
if predictet_probalbility > .5:
    y_pred=1
else:
    y_pred=0

y_pred

1

In [ ]:
# one line if-else statement
prediction = "positive" if y_pred else "negative"
prediction

'positive'

In [86]:
accuracy = .6

if accuracy > .9:
    model_performance = "Good"
elif accuracy > .9:
    model_performance = "Moderate"
else:
    model_performance = "Bad"

accuracy, model_performance

(0.6, 'Bad')

## while statement

**Example - oil leakage**

There is an oil leakage causing the bird population in an island to 1/2 in each year. 
From start there were 80000 birds, how many years does it take for it to have 1/10 remaining?

In [88]:
birds = 80000
year = 0

while birds > 8000:
    print(f"Year {year} there were {birds:.0f} birds")
    birds /=2 # birds = birds / 2
    year +=1

print(f"It takes {year} years for the birds to have 1/10 remaining")

Year 0 there were 80000 birds
Year 1 there were 40000 birds
Year 2 there were 20000 birds
Year 3 there were 10000 birds
It takes 4 years for the birds to have 1/10 remaining

## for statement

In [89]:
unsupervised_abbreviations = [
    "K-Means",
    "PCA",
    "GMM",
]

unsupervised_algorithms = [
    "K-Means Clustering",
    "Principal Component Analysis",
    "Gaussian Mixture Model",
]

for abbreviation in unsupervised_abbreviations:
    print(abbreviation)

K-Means
PCA
GMM

In [91]:
for abbreviation,algorithm in zip(unsupervised_abbreviations,unsupervised_algorithms):
    print(abbreviation,":",algorithm)

K-Means : K-Means Clustering
PCA : Principal Component Analysis
GMM : Gaussian Mixture Model

In [ ]:
# don't do this, not pythonic
for i in range(len(unsupervised_abbreviations)):
    print(f"abbreviation {i}: {unsupervised_abbreviations[i]}")

print()

# pythonic - idiomatic way of writing python
for i, abbreviation in enumerate(unsupervised_abbreviations): 
    print(f"abbreviation {i}: {abbreviation}")

abbreviation 0: K-Means
abbreviation 1: PCA
abbreviation 2: GMM

abbreviation 0: K-Means
abbreviation 1: PCA
abbreviation 2: GMM