# Code Alongs - Python Funadametals part 1

In [ ]:
my_fruit = input()

print(f"I like to eat: {my_fruit}")

In [ ]:
age = input ("Give me your age: ")
print("In five years you are {age +5}) age years old")

tuple
in jupyter notebook: the __repr__ of the object instance is outputted for the last line
age, type(age)

In [1]:
age = 33
type(age), age

(int, 33)

In [ ]:
loves_math = True
type()

## Collection
- list
- tuples
- sets
- dictionary

In [27]:
# list of one data type only
interest = ["badminton", "yoga" , "math", "programming"]

# list of mixed data types
person = ["Thorbjörn","47", True]

In [28]:
type(person), type(person[1])

(list, str)

In [29]:
interest[1:3]

['yoga', 'math']

In [30]:
interest[-1], interest[::-1]

('programming', ['programming', 'math', 'yoga', 'badminton'])

In [31]:
person.append(interest)
person

['Thorbjörn', '47', True, ['badminton', 'yoga', 'math', 'programming']]

In [32]:
person[-1][-2], person[-1][-2] [::-1]

('math', 'htam')

In [33]:
persons_interests = person [-1]
persons_interests [-2]

'math'

In [34]:
for interest in persons_interests:
    print(interest)



# java: 
# for (int i = 0; i < persons_interests.length; i++){
# System.out.println(persons_interests[i])
}

print("nDon't do this")
      for i in range (len(persons_interests)):
      print(persons_interests[i])

SyntaxError: unmatched '}' (2757372927.py, line 9)

In [18]:
for i, interest in enumerate(persons_interests, 1):
    print(i, interest)

1 badminton
2 yoga
3 math
4 programming

### List creation

- append
- list comprehension

In [35]:
numbers = []

for i in range(10):
    numbers .append(i)

numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
numbers = [i for i in range(10)]
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [37]:
squares = [i**2 for i in numbers]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [38]:
qubes = [i**3 for i in numbers]
qubes

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [40]:
# i % 2 (the condiuotion )is Thuthy mat
odd_numbers_squared = [i**2 for i in numbers if i % 2 ]
odd_numbers_squared

[1, 9, 25, 49, 81]

# Dictionary

- key: value pairs

In [42]:
courses = {
    "sql": 30,
    "data_platform": 40,
    "python": 40,
    "agile": 15,
    "data_modeling" : 30,
    "visualization" : 40
}
courses

{'sql': 30,
 'data_platform': 40,
 'python': 40,
 'agile': 15,
 'data_modeling': 30,
 'visualization': 40}

In [43]:
courses.keys()

dict_keys(['sql', 'data_platform', 'python', 'agile', 'data_modeling', 'visualization'])

In [44]:
len(courses.keys())

6

In [45]:
courses.values()

dict_values([30, 40, 40, 15, 30, 40])

In [47]:
for course in courses:
    print(course, courses[course])

sql 30
data_platform 40
python 40
agile 15
data_modeling 30
visualization 40

In [48]:
for course, points in courses.items():
    print(course, points)

sql 30
data_platform 40
python 40
agile 15
data_modeling 30
visualization 40

In [49]:
print(f"{'Course':<40} Points")
for course, points in courses.items():
    print(course, points)

Course                                   Points
sql 30
data_platform 40
python 40
agile 15
data_modeling 30
visualization 40

In [ ]:
print(f"{'Course':<40} Points")
for course, points in courses.items():
    print(course:<20, {points})
    print(f"{'Course':<40} {Points}")

# Strings

In [51]:
ml_term = "sUperVised   Learning   "

len(ml_term)

24

In [54]:
ml_term.strip().split()

'supervised learning'

In [ ]:
" ".join(ml_term.strip().split())

In [ ]:
" ".join(ml_term.strip().split()).lower()