# Code Along - Python Fundamentals 1

In [8]:
my_fruit = input()

print(f"I like to eat: {my_fruit}")

I like to eat: apple

In [9]:
age = input ("Give me your age: ")
print(f"In five years you are {age + 5}) years old")

TypeError: can only concatenate str (not "int") to str

In [10]:
# tuple
# in jupyter notebook: the __repr__ of the object instance is outputted for the last line
age, type(age)

('33', str)

In [12]:
age = 33
loves_math = True
type(age), age, type(loves_math)

(int, 33, bool)

In [13]:
print(f"{loves_math = }")

loves_math = True

## Collection
- list
- tuples
- sets
- dictionary

In [17]:
# list of one data type only
interest = ["badminton", "yoga" , "math", "programming"]

# list of mixed data types
person = ["Thorbjörn", 47, True]

In [19]:
type(person), type(person[1])

(list, int)

### Slicing and indexing

In [20]:
interest[1:3]

['yoga', 'math']

In [21]:
interest[-1], interest[::-1]

('programming', ['programming', 'math', 'yoga', 'badminton'])

In [22]:
person.append(interest)
person

['Thorbjörn', 47, True, ['badminton', 'yoga', 'math', 'programming']]

In [23]:
person[-1][-2], person[-1][-2] [::-1]

('math', 'htam')

In [24]:
persons_interests = person [-1]
persons_interests [-2]

'math'

### Iterate over lists

In [25]:
# pythonic - idiomatic python
for interest in persons_interests:
    print(interest)

# java: 
# for (int i = 0; i < persons_interests.length; i++){
#   System.out.println(persons_interests[i])
# }

print("\nDon't do this")
for i in range(len(persons_interests)):
    print(persons_interests[i])

badminton
yoga
math
programming

Don't do this
badminton
yoga
math
programming

In [27]:
# not pythonic
for i in range(len(persons_interests)):
    print(i+1,persons_interests[i])

1 badminton
2 yoga
3 math
4 programming

In [28]:
# pythonic
for i, interest in enumerate(persons_interests, 1):
    print(i, interest)

1 badminton
2 yoga
3 math
4 programming

### List creation

- append
- list comprehension

In [30]:
numbers = []

for i in range(10):
    numbers.append(i)

numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
numbers = [i for i in range(10)]
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
squares = [i**2 for i in numbers]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [33]:
cubes = [i**3 for i in numbers]
cubes

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [34]:
# i % 2 (the condition) is truthy when i is odd, and falsy when i is even
odd_numbers_squared = [i**2 for i in numbers if i % 2 ]
odd_numbers_squared

[1, 9, 25, 49, 81]

# Dictionary

- key: value pairs

In [35]:
# Shift + alt/option + F = auto formatting code
courses = {
    "sql": 30,
    "data_platform": 40,
    "python": 40,
    "agile": 15,
    "data_modeling" : 30,
    "visualization" : 40
}
courses

{'sql': 30,
 'data_platform': 40,
 'python': 40,
 'agile': 15,
 'data_modeling': 30,
 'visualization': 40}

In [36]:
courses.keys()

dict_keys(['sql', 'data_platform', 'python', 'agile', 'data_modeling', 'visualization'])

In [37]:
len(courses.keys())

6

In [38]:
courses.values()

dict_values([30, 40, 40, 15, 30, 40])

In [39]:
for course in courses:
    print(course, courses[course])

sql 30
data_platform 40
python 40
agile 15
data_modeling 30
visualization 40

In [40]:
for course, points in courses.items():
    print(course, points)

sql 30
data_platform 40
python 40
agile 15
data_modeling 30
visualization 40

In [43]:
print(f"{'Course':<40} Points")
for course, points in courses.items():
    print(f"{course:<40} {points}")

Course                                   Points
sql                                      30
data_platform                            40
python                                   40
agile                                    15
data_modeling                            30
visualization                            40

In [44]:
print(f"{'Course':<20} Points")
for course, points in courses.items():
    print(f"{course:<20} {points}")

Course               Points
sql                  30
data_platform        40
python               40
agile                15
data_modeling        30
visualization        40

# Strings

In [49]:
ml_term = "sUperVised   Learning  "

len(ml_term)

23

In [50]:
ml_term.strip().split()

['sUperVised', 'Learning']

In [51]:
" ".join(ml_term.strip().split())

'sUperVised Learning'

In [52]:
" ".join(ml_term.strip().split()).lower()

'supervised learning'